{% extends 'base.html' %}
{% block menu %}
<nav id="navbar" class="navbar order-last order-lg-0">
  <ul>
    <li><a class="nav-link scrollto" href="/">Начальная страница</a></li>
    <li><a class="nav-link scrollto" href="/gallery">Портфолио</a></li>
    <li><a class="nav-link scrollto active" href="/contact">Контакты</a></li>
    <li class="dropdown"><a href="#"><span>Членство</span> <i class="bi bi-chevron-down"></i></a>
      <ul>
        <li><a href="/join">Присоедениться</a></li>
        <li><a href="/attendance">Посещаемость</a></li>
        <li><a href="/profile">Профиль</a></li>
      </ul>
    </li>
  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->
{% endblock menu %}
{% block title %}
Обратная связь
{% endblock title %}
{% block head %}
<h1>Свяжитесь с нами</h1>
<div class="container mt-2">

    <div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">
     
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong></strong> {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
     
    <form action="/contact" method="post">{% csrf_token %}

        <div class="form-group">
        <input type="text" class="form-control" name="fullname" placeholder="Введите ваше имя" required>
        </div>
              
        <div class="form-group">
        <input type="email" class="form-control mt-2" name="email" placeholder="Введите ваш Email" required>
        </div>
        
        <div class="form-group">
        <input type="number" class="form-control mt-2" name="num" placeholder="Введите ваш номер телефона" required>
        </div>
        
        <div class="form-group">
        <label for="desc" class="text-warning">Опишите вопрос</label>
        <textarea class="form-control mt-2" name="desc" cols="5" rows="3" id="desc"></textarea>
        </div>
        
        <br>
        <div class="d-grid gap-2">
          <button class="btn btn-warning" type="submit">Отправить</button>     
        </div>
        
        </form> 
    </div>
    <div class="col-md-3"></div>
    </div> 
    </div>
{% endblock head %}
