{% extends 'base.html' %}
{% block title %}
Вход
{% endblock title %}
{% block menu %}
<nav id="navbar" class="navbar order-last order-lg-0">
  <ul>
    <li><a class="nav-link scrollto" href="/">Начальная страница</a></li>
    <li><a class="nav-link scrollto" href="/gallery">Портфолио</a></li>
    <li><a class="nav-link scrollto" href="/contact">Контакты</a></li>
    <li class="dropdown"><a href="#"><span>Членство</span> <i class="bi bi-chevron-down"></i></a>
      <ul>
        <li><a href="/join">Присоедениться</a></li>
        <li><a href="/attendance">Посещаемость</a></li>
        <li><a href="/profile">Профиль</a></li>
      </ul>
    </li>
  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->
{% endblock menu %}
{% block head %}
<h1>Вход в систему</h1>
<div class="container mt-2">

    <div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong></strong> {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} 
    
    <form action="/login" method="post">{% csrf_token %}
    
        <div class="form-group">
            <input type="number" class="form-control mb-2" name="usernumber" placeholder="Номер телефона" required>
            </div>
    
    <div class="form-group">
    <input type="password" class="form-control mb-2" name="pass1" placeholder="Пароль" required>
    </div>
      
    <div class="d-grid gap-2">
      <button class="btn btn-light" type="submit">Войти</button>
    
    </div>
    
    </form>
    <br><a href="/signup">Новый пользователь?</a>
     
    </div>
    <div class="col-md-3"></div>
    </div>
    
    </div>
{% endblock head %}
